<div class="container"><h1>Messages</h1>
<br>
  <% @messages.last(10).reverse_each do |message| %>
    <% if (message.chat.ticket.user == current_user && message.user != current_user) || (message.chat.user == current_user && message.user != current_user) %>
      <div class="message-container">
        <div class="d-flex justify-content-between">
          <div >
            <ul>
              <%= link_to chat_path(message.chat), class:"message-link" do%>
                <li><strong>Message from: <%= message.user.user_information.first_name %></strong></li>
                <li><i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i></li>
                <li><br></li>
                <li><%= message.content %></li>
              <% end %>
            </ul>
          </div>
          <div>
            <%= link_to "See Profile", user_information_path(message.user.user_information), class:"outline-button mx-3" %>
              <% if message.user.user_information.github_url != "https://github.com/" %>
                <% github_username = message.user.user_information.github_url.split("/").last %>
                <% @profile_pic = JSON.parse(URI.open("https://api.github.com/users/#{github_username}").read) %>
              <% end %>
            <%= image_tag(src=@profile_pic["avatar_url"], class: "avatar-message") %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
